

@media only screen and (min-width : 320px) and (max-width:480px){


.slide_logo{
width:54%;
float:left;
}
.slide_nav{ 
width:36%;
float:left;
}
.slide_logo_inner{
font-size:22px; 
}
.slide_nav{
}
.circles_container{
display:none;
}
.start_your_project_container{
display:none;
}
.slide_text_inner_container_start{
font-size:15px;
margin:0px;
padding:0px;
}
.slide_text_inner_container.visible{
font-size:8vh;
margin-bottom:120px;
}
.slide_sentence{
opacity:1;
pointer-events:auto;
z-index:3;
transform:translateY(0px);
-webkit-transform:translateY(0px);
-moz-transform:translateY(0px);
-ms-transform:translateY(0px);
-o-transform:translateY(0px);
}
#first_sentence,#second_sentence{
transform:translateY(0px);
-webkit-transform:translateY(0px); 
-moz-transform:translateY(0px);
-ms-transform:translateY(0px);
-o-transform:translateY(0px);
}
#slide_text_start1{
margin-top:4%;
margin-left:-3%;
}
#slide_text_start1 .slide_sentence{
font-size:32px;
line-height:44px;
}
.slide_text_inner_words_container{
margin-top:-160px;
height:114px;
display:none;
}
.slide_text_inner_words_inner_container.visible{
height:456px;
opacity:0;
pointer-events:none;
}
.slide_text_inner_container_1{
font-size:6vh;
line-height:8vh;
height:114px;
overflow:hidden;
}
.our_team_inner_content{
width:90%;
margin-left:5%;
margin-right:5%;
}
.team_member_container .team_member_social{
display:none; 
} 
.team_member_container{
margin-left:14px;
margin-right:14px;
}
.works_item_container.morph_container{
float:none;
width:100%;
}
.contact_slide{
min-height:420px;
height:auto;
}
.contact_slide_inner_left{
padding-left:0px;
padding-right:0px;
}
.contact_slide_part{
float:none;
width:100%;
}
#contact_slide_left,#contact_slide_right{
width:100%;
} 
.contact_slide_heading{
width:100%;
text-align:center;
font-size:28px;
}
.contact_we_are_here{
display:none;
}
#contact_slide_right{
height:420px;
}
.works_inner_container{
height:960px;
}
.works_item_container{
top:0px;
}
.works_item_info_container{
padding-top:14%;
}
#works_item_container1{
top:0px;
height:340px;
width:100%;
left:0px;
}
#works_item_container2{
top:240px;
height:240px;
width:100%;
left:0px;
}
#works_item_container3{
top:480px;
height:240px;
width:100%;
left:0px;
}
#works_item_container4{
top:720px;
height:240px;
width:100%;
left:0px;
}
#slide3{
min-height:100%;
height:auto;
}
.timeline_inner_container{
width:96%;
margin:0% 2%;
}
.timeline_event_content{
display:none;
}
.timeline_event_single{
width:30%;
padding:2% 4%;
}
.timeline_event_container{

}
.timeline_ball{
left:45.3%;
}


}





@media screen and (min-width:768px) and (max-width:1024px){


.slide_logo{ 
width:78%;
float:left;
}
.slide_nav{
width:16%;
float:left;
}
.slide_logo_inner{
font-size:22px; 
}
.slide_nav{
margin-top:-8px;
}
.slide_nav_menu_container{
height:56px;
width:56px;
}
.slide_nav_menu_line{
top:28px;
width:22px;
left:17px;
}
.circles_container{
display:none;
}
.start_your_project_container{
display:none;
}
.slide_text_inner_container_start{
font-size:15px;
margin:0px;
padding:0px;
}
.slide_text_inner_container.visible{
font-size:24px;
margin-bottom:120px;
}
#slide_text_start1{
margin-top:14%;
margin-left:2%;
}
#slide_text_start1 .slide_sentence{
font-size:32px;
line-height:44px;
width:70%;
margin:0px 15%;
}
.slide_text_container_1{
margin-top:-9%;
}
.slide_text_inner_words_container{
height:132px;
margin-top:14%;
}
.slide_text_inner_words_inner_container{
height:528px;
}
.slide_text_inner_container_1{
font-size:32px;
line-height:44px;
height:132px;
overflow:hidden;
}
.our_team_inner_content{
width:84%;
margin-left:8%;
margin-right:8%;
}
.team_member_container .team_member_social{
display:none; 
} 
.team_member_container{
margin-left:14px;
margin-right:14px;
}
.works_item_container.morph_container{
float:none;
width:100%;
}
.contact_slide{
min-height:420px;
height:auto;
}
.contact_slide_inner_left{
padding-left:0px;
padding-right:0px;
}
.contact_slide_part{
float:none;
width:100%;
}
#contact_slide_left,#contact_slide_right{
width:100%;
} 
.contact_slide_heading{
width:100%;
text-align:center;
font-size:28px;
}
.contact_we_are_here{
display:none;
}
#contact_slide_right{
height:420px;
}
.works_inner_container{
height:960px;
}
.works_item_container{
top:0px;
}
#works_item_container1{
top:0px;
height:240px;
width:100%;
left:0px;
}
#works_item_container2{
top:240px;
height:240px;
width:100%;
left:0px;
}
#works_item_container3{
top:480px;
height:240px;
width:100%;
left:0px;
}
#works_item_container4{
top:720px;
height:240px;
width:100%;
left:0px;
}
#slide3{
min-height:100%;
height:auto;
}
.timeline_inner_container{
width:96%;
margin:0% 2%;
}
.timeline_event_content{
display:none;
}
.timeline_event_single{
width:30%;
padding:2% 4%;
}
.timeline_event_container{

}
.timeline_ball{
left:45.3%;
}

#opening_word_container2{
text-align:center;
margin-left:-22%;
}
.amitus_letter{
font-size:82px;
}

}




@media only screen and (min-width:1024px) and (max-width:1366px){


.slide_logo{ 
width:78%;
float:left;
}
.slide_nav{
width:16%;
float:left;
}
.slide_logo_inner{
font-size:22px; 
}
.slide_nav{
margin-top:-8px;
}
.slide_text_inner_words_container{
margin-top:-3.5%;
} 
.slide_sentence{
font-size:46px;
}

#opening_word_container2{
text-align:center;
}
.amitus_letter{
font-size:82px;
}

}



@media only screen and (min-width:1366px){

#slide_text_start1{
margin-top:-5%;
}

}